/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2015, 12:20:36 PM
    Author     : ganezha
*/

/*
body {
  animation: color 5s infinite;
}

@keyframes color {
  0% {
    background-color: #ff0000;
  }
  35% {
    background-color: #00ff00;
  }
  70% {
    background-color: #0000ff;
  }
  100% {
    background-color: #ff0000;
  }
}*/